.pembayaran-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.metode-pembayaran {
  padding: 0 15px 15px 15px;
  background-color: white;
  border-radius: 8px;
  width: 48%;
}

.payment-virtual {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
}

.payment-virtual h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

.payment-ewallet {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}

.payment-qris {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
}

.rincian-tiket {
  width: 495px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.rincian-tiket .judul-tiket {
  padding: 15px;
  border-radius: 12px 12px 0 0;
  background-color: #d9d9d9;
  color: #242277;
}

.rincian-tiket .judul-tiket h3 {
  text-align: center;
  font-weight: 600;
}

.rincian-tiket .detail-tiket {
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.rincian-tiket .info-pribadi {
  padding: 15px;
}

.timer {
  background-color: #d9d9d9;
  border-radius: 8px 8px 0 0px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.timer span {
  font-size: 14px;
  font-weight: 800;
  color: #fa9a0a;
  margin-bottom: 20px;
}

.payment-methods {
  margin-bottom: 20px;
}

.method {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.method.selected {
  background-color: #e6f7ff;
  border-color: #91d5ff;
}

.method input {
  margin-right: 10px;
}

.method label {
  margin-left: 10px;
}

#lanjutkan-button {
  background-color: #fa9a0a;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  cursor: pointer;
}

.rincian-tiket h3 {
  margin-bottom: 20px;
}

.rincian-tiket p {
  margin: 5px 0;
}

.popup-overlay {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup h3 {
  margin-bottom: 20px;
}

.popup button {
  background-color: #fa9a0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.rincian-harga-tiket {
  padding: 10px;
  margin: 20px;
  border: 1px solid #242277;
  border-radius: 12px;
}

.rincian-harga-tiket h2 {
  color: #fa9a0a;
}

.rincian-harga-tiket p {
  margin-bottom: 10px;
}

.rincian-harga-tiket .btn-konfirmasi {
  background-color: #fa9a0a;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  cursor: pointer;
}
